[submodule "ansible-role-docker"]
	path = ansible-role-docker
	url = https://github.com/jgeusebroek/ansible-role-docker.git
[submodule "ansible-oracle-java"]
	path = ansible-oracle-java
	url = https://github.com/William-Yeh/ansible-oracle-java.git
