worker_processes  1;

events {
    worker_connections  1024;
}

http {

    ldap_server ldapserver {
        url ldap://192.168.30.23:389/OU=Users,OU=Leini,DC=toptierra,DC=it?samaccountname?sub?(objectClass=user);
        #binddn "cn=admin,dc=example,dc=com";
        binddn ldapguest@toptierra.it;
        binddn_passwd my$081mt
        group_attribute uniquemember;
        group_attribute_is_dn on;
        #require group 'cn=docker,ou=groups,dc=example,dc=com';
        #require valid_user;
        #satisfy all;
    }

    server {
      listen                *:80 ;

      server_name           server;
      access_log            /var/log/nginx/kibana.srv-log-dev.log;
      error_log            /var/log/nginx/kibana.srv-log-dev.error.log;

      location / {
        proxy_pass http://kibana:5601;
        proxy_set_header Host $host;
        proxy_set_header  X-Forwarded-For $proxy_add_x_forwarded_for;
        auth_ldap "Enter Active Directory credentials";
        auth_ldap_servers ldapserver;
      }
    }

}
